$base: #a7a7a7;
$base-secondary: #1a1e2c;
$base-dark: rgba($base, 0.88);
$base-darker: rgba($base, 0.58);
$dark-gray: #11141d;
$light-gray: #efefef;

html,
body {
    background: $dark-gray;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 550px;
    margin: 0 auto;
}

.frame {
    margin: 0 auto;
    background: white;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 20px;
    border: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 3;
    padding: 7px;
    box-sizing: border-box;
    text-align: center;
}

#result,
#action {
    width: 100%;
    height: 150px;
    text-align: left;
    margin-bottom: 50px;
    padding: 15px;
    box-sizing: border-box;
    border: 0px;
    font-size: 20px;
}

#action {
    text-align: center;
}

div#resultFrame {
    width: 80%;
}

div#actionFrame {
    width: 20%;
    text-align: center;
}

#buttons-t {
    width: 100%;
    background-attachment: fixed;
}

#buttons-l,
#buttons-b {
    width: 400px;
}

#buttons-r {
    width: 132px;
    float: left;
    height: auto;
}

#buttons {
    width: 100%;
    text-align: center;
}

button.digits,
button.equal {
    width: 133px;
    text-align: center;
    height: 100px;
    background: $light-gray;
    border: 0px;
}

button.equal {
    background: #ff7575;
    color: white;
    height: 300px;
}

.gray {
    background: #e2e2e2 !important;
}

button#deleteButton {
    padding: 30px;
    margin: 10px;
    border: 0px;
}

#alert {
    width: 100%;
    height: auto;
    text-align: center;
    border: 0px;
    background: transparent;
}